
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    padding: 0vh 5vh;
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(10px);
}
.spacer{
    height: 15vh;
    width: 100vw;
}
.brandName {
    font-family: "Orbitron";
    font-size: 3em;
    font-style: italic;
    color: var(--colorPrim);
    font-weight: 800;
    position: relative;
    overflow: hidden; 
}

.brandName {
    font-family: "Orbitron";
    font-size: 3em;
    font-style: italic;
    font-weight: 800;
    background: linear-gradient(
        135deg,
        var(--colorPrim) 30%, 
        #fff 50%, 
        var(--colorPrim) 70%
    );
    background-size: 150% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 0 0.5em;
    overflow: visible;
    animation: shineText 2s forwards;
}

@keyframes shineText {
    0% {
        background-position: 150% 0;
    }
    100% {
        background-position: 0% 0;
    }
}



.navItemCont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5vh;
    padding: 0vh 5vh;
    border-radius: 5vh;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
}
.navItem{
    padding: 2vh 5px;
    color: var(--colorTer);
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: .9em;
    cursor: pointer;
    text-align: center;
}
.navItem:hover{
    color: var(--colorPrim);
    transition: .2s ease;
}