
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+NG+Modern:wght@100..400&family=Quicksand:wght@300..700&display=swap');
:root{
  --colorPrim : #ffc400;
  --colorSec : #1fb8ff;
  --colorTer : #fff;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}
body{
  overflow-x: hidden;
}
body{
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/heroBg.jpg');
  background-position: center;
  background-size: 100% 100%;
}
.hero-container{
  height: 100vh;
  width: 100vw;
}