/* Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+NG+Modern:wght@100..400&family=Quicksand:wght@300..700&display=swap');
/* Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root{
  --colorPrim : #ffc400;
  --colorSec : #1fb8ff;
  --colorTer : #fff;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
  text-decoration: none;
  outline: none;
  border: none;
  list-style-position: inside;
}
body{
  height: 100vh;
  width: 100vw; 
  overflow-x: hidden;
}
.hero-container{
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    #000000b6,
    #000,
    #000,
    #000
  );
}

@media (max-width: 576px) {
  .hero-container {
    background-image: radial-gradient(
      ellipse 100% 50%,
      rgb(77, 77, 77),
      rgb(24, 24, 24),
      #000,
      #000
    );
  }
}
